*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: inline;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html {
  width: 300px;
  height: 400px;
}

.green {
  color: limegreen;
}

.bg-green {
  background-color: limegreen;
}

.title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  padding-bottom: 12px;
}

.line {
  margin: 12px 0;
}

.app-header {
  display: flex;
  justify-content: space-around;

  .on-off-switch {
    button {
      all: unset;
    }

    .SwitchRoot {
      width: 42px;
      height: 25px;
      background-color: black;
      border-radius: 9999px;
      position: relative;
      box-shadow: 0 2px 10px var(black);
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .SwitchRoot:focus {
      box-shadow: 0 0 0 2px black;
    }
    .SwitchRoot[data-state='checked'] {
      background-color: limegreen;
    }

    .SwitchThumb {
      display: block;
      width: 21px;
      height: 21px;
      background-color: white;
      border-radius: 9999px;
      box-shadow: 0 2px 2px black;
      transition: transform 100ms;
      transform: translateX(2px);
      will-change: transform;
    }
    .SwitchThumb[data-state='checked'] {
      transform: translateX(19px);
    }

    .Label {
      color: white;
      font-size: 15px;
      line-height: 1;
    }
  }
}

.tab {
  display: flex;
  border-top: 0.5px solid limegreen;
  padding: 2px 0;
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.checkbox-pin {
  button {
    all: unset;
  }

  .CheckboxRoot {
    background-color: white;
    width: 18px;
    height: 18px;
    border: none;
    // border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .CheckboxRoot:hover {
  //   background-color: limegreen;
  // }
  // .CheckboxRoot:focus {
  //   box-shadow: 0 0 0 2px black;
  // }

  .CheckboxIndicator {
    color: limegreen;
  }
}
